<div class="col-md-8">
  <div class="input-group mb-3">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="listarManana()">Mañana</button>
      <button class="btn btn-outline-secondary" type="button" (click)="listarTarde()">Tarde</button>
      <button class="btn btn-outline-secondary" type="button" (click)="listarHoy()">Hoy</button>
      <button class="btn btn-outline-secondary" type="button" (click)="listarSemana()">Semana</button>
      <button class="btn btn-outline-secondary" type="button" (click)="listarMes()">Mes</button>
      <button class="btn btn-outline-secondary" type="button" (click)="listarTotal()">Total</button>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2 class="mb-4">Reposiciones</h2>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Costo total</th>
        <th>Tipo pago</th>
        <th>Fecha y Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reposicion of reposicions">
        <td>{{ reposicion.nombre }}</td>
        <td>{{ reposicion.cantidad }}</td>
        <td>S/. {{ reposicion.costo }}</td>
        <td>{{ reposicion.tipo_pago }}</td>
        <td>{{ reposicion.fecha_hora }}</td>
        <td>
          <button class="btn btn-primary btn-sm" routerLink="/reposicion/{{reposicion.id}}">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  