<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Ponte Fitnes</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="cliente" class="nav-link">Clientes</a>
      </li>
      <li class="nav-item">
        <a routerLink="add_cliente" class="nav-link">Nuevo Cliente</a>
      </li>
    </div>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="add_venta" class="nav-link">Nueva Venta</a>
      </li>
      <li class="nav-item">
        <a routerLink="venta" class="nav-link">Ventas</a>
      </li>
    </div>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="add_reposicion" class="nav-link">Nueva Reposicion</a>
      </li>
      <li class="nav-item">
        <a routerLink="reposicion" class="nav-link">Reposiciones</a>
      </li>
    </div>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="articulo" class="nav-link">Articulo</a>
      </li>
    </div>
      <!-- 
      <li class="nav-item">
        <a routerLink="add_articulo" class="nav-link">Add-Articulo</a>
      </li>
    </div>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="membresia" class="nav-link">Membresia</a>
      </li>
      <li class="nav-item">
        <a routerLink="add_membresia" class="nav-link">Add-Membresia</a>
      </li>
    </div>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="user" class="nav-link">User</a>
      </li>
      <li class="nav-item">
        <a routerLink="add_user" class="nav-link">Add-User</a>
      </li>
    </div>
    -->
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
