<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by nombre"
          [(ngModel)]="nombre"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchNombre()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Membresias List</h4>
      <ul class="list-group">
        @for (membresia of membresias; track membresia.id; let i = $index) {
        <li
          class="list-group-item"
          [class.active]="i == currentIndex"
          (click)="setActiveMembresia(membresia, i)"
        >
          {{ membresia.nombre }}
        </li>
        }
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllMembresias()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <app-membresia-details
        [viewMode]="true"
        [currentMembresia]="currentMembresia"
      ></app-membresia-details>
    </div>
  </div>
