<div class="list row" *ngIf="!loading; else loadingTemplate">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por nombre"
          [(ngModel)]="nombre"
          (keyup.enter)="searchNombre()"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchNombre()"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Articulos</h4>
      <ul class="list-group">
        @for (articulo of articulos; track articulo.id; let i = $index) {
        <li
          class="list-group-item"
          [class.active]="i == currentIndex"
          (click)="setActiveArticulo(articulo, i)"
        >
          {{ articulo.nombre }}
        </li>
        }
      </ul>
    </div>
    <div class="col-md-6">
      <app-articulo-details
        [viewMode]="true"
        [currentArticulo]="currentArticulo"
      ></app-articulo-details>
    </div>
</div>

<ng-template #loadingTemplate>
  <div class="loading-overlay">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
