<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por DNI"
          [(ngModel)]="dni"
          (keyup.enter)="searchDni()"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchDni()"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Clientes</h4>
      <ul class="list-group">
        @for (cliente of clientes; track cliente.id; let i = $index) {
        <li
          class="list-group-item"
          [class.active]="i == currentIndex"
          (click)="setActiveCliente(cliente, i)"
        >
          {{ cliente.dni }}
        </li>
        }
      </ul>
    </div>
    <div class="col-md-6">
      <app-cliente-details
        [viewMode]="true"
        [currentCliente]="currentCliente"
      ></app-cliente-details>
    </div>
  </div>
